<h2>Update Tasks</h2>
<LinkTo @route="subtasks" @model={{@model.taskId}} class="subtask-update-back-button">Back</LinkTo>
<br />
<br />
<Input @value={{@model.name}} class="subtask-update" />

<button type="button" {{on "click" (fn this.updateMessage @model)}}  class="subtask-update-button">Update</button>