<AddTask> Add Task </AddTask>
{{#each @model as |task|}}
    <p>
        {{task.name}} 
        <LinkTo @route='task' @model={{task}}><button>edit</button></LinkTo>
        <button {{on "click" (fn this.deleteMessage task.id) }}>Delete</button>
    </p>
{{/each}}
{{outlet}}

